body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    position: relative;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

main {
    padding: 65px;
    margin-bottom: 60px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}

.back-button {
    position: absolute;
    left: 20px;
    top: 20px;
}

.back-button button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.back-button button:hover {
    background-color: #777;
}

/* Tabela de especificações técnicas */
.specs-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.specs-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Cor cinza claro */
}

.specs-table tr:nth-child(odd) {
    background-color: #ffffff; /* Cor branca */
}

.specs-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.specs-table tr:first-child td {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.specs-table tr:last-child td {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* Alinhamento das máquinas lado a lado */
.machine-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.machines {
    text-align: center;
    margin-bottom: 30px;
}

.machines h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Container para alinhar as máquinas lado a lado */
.machine-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.machine {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    cursor: pointer;
    position: relative;
    transition: transform 0.2s;
    text-align: center;
}

.machine:hover {
    transform: scale(1.05);
}

.machine img {
    width: 100%;
    height: auto;
}
.intro {
   
max-width: 800px; /* Define uma largura máxima para a seção */
margin: 0 auto; /* Centraliza a seção horizontalmente */
text-align: center; /* Centraliza o texto dentro da seção */
padding: 20px;
}
.intro ul {
list-style-position: inside; /* Alinha o ponto com o texto */
padding: 0;    
display: inline-block; /* Centraliza a lista */
text-align: left; /* Garante o alinhamento dos itens na lista */
}



